body{
    margin: 0;
    padding: 0;
}

.pic {
    position: relative;
    height : 400px;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.pic img{
    width: 100%;
    margin-top: -85%;
    opacity: 0.6;
    padding: 0;
}


.pic h1{
    position: absolute;
    color: white;
    top: 60%;
    left: 5%;
    right: 0;
    font-size: 60px;
    font-weight: 1600;
    font-family: 'Advent Pro';
    /*-webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
   text-shadow: 1px 1px black;*/
}

.text{
    font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif;
}

#para::first-letter{
    font-size: 40px;
    font-weight: bolder;
    margin: 7px;
}
.para-text{
    padding-left: 15%;
    padding-right: 15%;
    font-size: large;

}
.text a:link{
    text-decoration: none;
    text-decoration-color: skyblue;
    
}
.link{
    padding-left: 2%;
}

@media screen and (max-width: 600px){
  .pic{
      height: 220px;
  }
  .pic h1{
      position: absolute;
      left: 0;
      top: 70%;
      font-size: 30px;
      padding-left: 5%;
  }
  .pic img{
      width: 100%;
      margin-top: -180px;
  }
  .para-text{
      padding-left: 40px;
      padding-right: 40px;
      font-size: medium;
  }
  .link{
      font-size: small;
      padding-left: 5%;
  }
}

@media screen and (min-width:700px) and (max-width:800px)
{
   .pic{
        height: 300px;
    }    
    .para-text{
        padding-left: 40px;
        padding-right: 40px;
        font-size: 18px;
    }
    .link{
        font-size: 14px;
        padding-left: 5%;
    }
    .pic img{
        width: 100%;
    }
    .pic h1{
        font-size: 50px;
    }
}

@media screen and (min-width: 600px) and (max-width: 700px){
    .pic{
        height: 200px;
    }    
    .para-text{
        padding-left: 40px;
        padding-right: 40px;
        font-size: 18px;
    }
    .link{
        font-size: 14px;
        padding-left: 5%;
    }
    .pic img{
        width: 100%;

    }
    .pic h1{
        position: absolute;
        top: 55%;
        font-size: 40px;

    }
}


